/** @format */

.form-div {
  margin-top: 15%;
  display: grid;
  width: 40%;
  margin: auto;
  margin-top: 5%;
}
.form-div input {
  display: grid;
  height: 40px;
  border-radius: 5px;
  padding: 0 12px;
  margin-top: 2%;
}
.last_submit {
  background-color: yellowgreen;
  border-radius: 5px;
}
.button_div {
  margin: auto;
  width: 20%;
  margin-top: 5%;
}
.goBack {
  background-color: rgb(224, 41, 9);
  border-radius: 5px;
  height: 40px;
  color: white;
  width: 100%;

  font-size: 20px;
}
